/* General styles for the <pre> element */
pre {
	--base00: #282c34; /* Editor background */
	--base03: #5c6370; /* Code comments */
	--base05: #abb2bf; /* Fallback font color */
	--base08: #e06c75; /* Variable references */
	--base09: #d19a66; /* Numbers */
	--base0A: #c678dd; /* Keywords */
	--base0B: #98c379; /* Strings */
	--base0C: #56b6c2; /* Escape characters in strings */
	--base0D: #61afef; /* Function calls */
	--base0E: #c678dd; /* Operators */
	overflow-y: hidden;
	position: relative;
	padding: 2em 1em 1em 1em; /* Add extra padding at the top for the title */
	background: var(--base00); /* Set background color */
	color: var(--base05); /* Set text color */
	border-radius: 0.5em;
  }
  
  /* Styles for the <code> element inside <pre> */
  pre code {
	display: block;
	margin-top: 2rem;
	counter-reset: line; /* Reset line counter */;
  }
  
  /* Styles for each line of code */
  pre .line {
	display: block;
	counter-increment: line; /* Increment line counter */
	position: relative;
	padding-left: 3.5em; /* Adjust to fit line numbers */
  }
  
  /* Insert line numbers before each line of code */
  pre .line::before {
	content: counter(line);
	position: absolute;
	left: 0;
	width: 3em;
	padding-right: 0.5em;
	text-align: right;
	color: var(--base03);
	user-select: none;
	opacity: 0.95;
  }
  
  /* Highlighted lines of code */
  .highlighted {
	background-color: #3c4551;
  }
  
  /* Styles for the code title */
  .code-title {
	width: 100%;
	padding: 0.5em 0.75em;
	position: relative;
	top: 2.5rem;
	left: 3em;
	color: var(--base05);
	font-size: 0.75em;
	opacity: 0.7;
	z-index: 10;
  }
  
  /* Styles for the code caption */
  .code-caption {
	text-align: right;
	font-size: 0.75em;
	opacity: 0.7;
	color: var(--base05);
	padding: 0.5em 0.75em;
	transform: translateY(-2.5rem);
  }
  
  /* Optional: Add styles for the copy button */
  pre .copy-button {
	position: absolute;
	right: 8px;
	top: 8px;
	font-size: 0.7rem;
	opacity: 0.7;
	cursor: pointer;
	background: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 2px 6px;
  }
  
  pre .copy-button:hover {
	opacity: 1;
  }
  
  /* Styles for syntax highlighting */
  pre .keyword {
	color: var(--base0A);
  }
  
  pre .function {
	color: var(--base0D);
  }
  
  pre .variable {
	color: var(--base08);
  }
  
  pre .number {
	color: var(--base09);
  }
  
  pre .string {
	color: var(--base0B);
  }
  
  pre .comment {
	color: var(--base03);
  }
  
  pre .operator {
	color: var(--base0E);
  }
  
  pre .code-language {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 0.75em;
	opacity: 0.7;
	color: var(--base05);
  }


  