/* General styles for the <pre> element */
.dark pre {
	--base00: #282c34; /* Editor background */
	--base03: #5c6370; /* Code comments */
	--base05: #abb2bf; /* Fallback font color */
	--base08: #e06c75; /* Variable references */
	--base09: #d19a66; /* Numbers */
	--base0A: #c678dd; /* Keywords */
	--base0B: #98c379; /* Strings */
	--base0C: #56b6c2; /* Escape characters in strings */
	--base0D: #61afef; /* Function calls */
	--base0E: #c678dd; /* Operators */
	overflow-y: hidden;
	position: relative;
	padding: 2em 1em 1em 1em; /* Add extra padding at the top for the title */
	border-radius: 0.5em;
  }

.light pre {
	--base00: #f6f8fa; /* Editor background */
	--base03: #a0a1a7; /* Code comments */
	--base05: #383a42; /* Fallback font color */
	--base08: #e45649; /* Variable references */
	--base09: #986801; /* Numbers */
	--base0A: #c18401; /* Keywords */
	--base0B: #50a14f; /* Strings */
	--base0C: #0184bc; /* Escape characters in strings */
	--base0D: #4078f2; /* Function calls */
	--base0E: #a626a4; /* Operators */
	overflow-y: hidden;
	position: relative;
	background: var(--base00);
	padding: 2em 1em 1em 1em; /* Add extra padding at the top for the title */
	border-radius: 0.5em;
	--scrollbar-bg: #e0e0e0; /* Light theme scrollbar background */
    --scrollbar-thumb: #c0c0c0; /* Light theme scrollbar thumb */
}

  /* Styles for code outside of <pre> */
  .dark code {
	background: #282c34;
	color: #5c6370;
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
  }

  .light code {
	background: #f6f8fa;
	color: #a0a1a7;
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
  }
  
  /* Styles for the <code> element inside <pre> */
  pre code {
	display: block;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	counter-reset: line; /* Reset line counter */;
  }
  
  /* Styles for each line of code */
  pre:not([code-title='shell'])  .line {
	display: block;
	counter-increment: line; /* Increment line counter */
	position: relative;
	padding-left: 3.5em; /* Adjust to fit line numbers */
  }
  
/* Insert line numbers before each line of code, except for shell scripts */
pre .line::before {
	content: counter(line);
	position: absolute;
	left: 0;
	width: 3em;
	padding-right: 0.5em;
	text-align: right;
	color: var(--base03);
	user-select: none;
	opacity: 0.95;
  }
  
  /* Highlighted lines of code */
  .highlighted {
	background-color: #3c4551;
  }

  .light .highlighted {
	background-color: #e1e4e8;
  }
  
  /* Styles for the code title */
  .code-title {
	content: attr(code-title);
	width: 100%;
	padding: 0.5em 0.75em;
	position: relative;
	top: 2.5rem;
	left: 3em;
	color: var(--base05);
	font-size: 0.75em;
	opacity: 0.7;
	z-index: 10;
  }
  
  /* Styles for the code caption */
  .code-caption {
	text-align: right;
	font-size: 0.75em;
	opacity: 0.7;
	color: var(--base05);
	padding: 0.5em 0.75em;
	transform: translateY(-3rem);
  }
  
  /* Styles for syntax highlighting */
  pre .keyword {
	color: var(--base0A);
  }
  
  pre .function {
	color: var(--base0D);
  }
  
  pre .variable {
	color: var(--base08);
  }
  
  pre .number {
	color: var(--base09);
  }
  
  pre .string {
	color: var(--base0B);
  }
  
  pre .comment {
	color: var(--base03);
  }
  
  pre .operator {
	color: var(--base0E);
  }
  
  pre .code-language {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 0.75em;
	opacity: 0.7;
	color: var(--base05);
  }

/* Styles for the copy button */
pre .copy-button {
	position: absolute;
	left: 8px;
	top: 8px;
	font-size: 0.7rem;
	opacity: 0.7;
	cursor: pointer;
	background: #333;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 2px 6px;
	z-index: 11;
  }
  
  pre .copy-button:hover {
	opacity: 1;
  }



  